
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

html,body{
    min-height: 100vh;
}

body {
    background-image: linear-gradient(180deg, #040918 0%, hsl(227, 75%, 14%) 100%);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
      
}

header{
    background-color:hsl(226, 25%, 17%);
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 30px 15px;
    padding: 10px;
    border-radius: 10px;
}

header> #color-app{
    background-color: hsl(225, 23%, 24%);
    border: none;
    width: 40px;
    border-radius: 10px;
    transition: 0.3s;
}

header> #color-app:hover{
    background-color: hsl(226, 11%, 37%);
}

#color-app-img{
    width: 20px;
}

nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 20px;
}

nav>ul{
    display: flex;
    justify-content:center;
    gap: 10px;
    list-style: none;
}

ul>li{
    background-color:hsl(225, 23%, 24%) ;
    padding:10px 20px 10px 20px ;
    border-radius: 20px;
    font-size: 1.1em;
}

ul>li:hover{
   background-color: hsl(226, 11%, 37%);
}

main{
    display: grid;
    gap: 10px;
    margin: 20px;
}

.item{
    display: block;
    background-color:hsl(226, 25%, 17%);
    padding: 20px;
    color: white;
    border-radius: 20px;
    border: 2px solid  hsl(226, 11%, 37%);
}

.info{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.info-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
}

.img-card{
    width: 55px;
    position: relative;
    bottom: 14px;
}

.texto-card{
    color:hsl(0, 0%, 78%) ;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.remove{
    background-color:hsl(225, 23%, 24%);
    color: white;
    font-size:1em;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid hsl(226, 11%, 37%) ;
    transition: 0.3s;

}

.remove:hover{
    background-color:hsl(3, 86%, 64%) ;
    color: hsl(225, 23%,24%);
}

.toggle {
    width: 45px;
    height: 25px;
    background: #ccc;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  
  .circle {
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
  }
  
  .toggle.active {
    background: #ff4d4d;
  }
  
  .toggle.active .circle {
    left: 22px;
  }


  @media (min-width:600px ){
    header{
        margin: 0px 150px 70px 150px ;
    }

    main{
        grid-template-columns: 400px 400px 400px;
        justify-content: center;
    }

    nav{
        margin-left: 150px;
        margin-right: 150px;
        flex-direction: row;
        justify-content: space-between;
        
    }
  }
  